
complex/complex.h
*.db
.vs/fadeev_a_u/v15/.suo
*.ipch
*.filters
*.log
*.obj
*.tlog
*.idb
*.pdb
*.exe
*.ilk
*.vcxproj
fadeev_a_u.sln
*.sln
rational/.vs/rational/v15/.suo
complex/.vs/complex/v15/.suo
*.opendb
vec3d/.vs/vec3d/v15/.suo
vec3dT/.vs/vec3dT/v15/.suo
vec3dT/.vs/vec3dT/v15/.suo
array/.vs/array/v15/.suo
matrix/.vs/matrix/v15/.suo
matrix/Debug/.vs/matrix/v15/.suo
stackl/.vs/stackl/v15/.suo
priorityqueuel/.vs/priorityqueuel/v15/.suo
*.iobj
*.ipdb
stacka/.vs/stacka/v15/.suo
*.user
coursework/q
coursework/qqq
*.exp
*.lib
coursework/we
coursework/mynet
coursework/LeNet-model
